@using $safeprojectname$.Properties;
<!DOCTYPE html>
<html>
<head>
    <title>@Resource.WebsiteTitle</title>
    <link type="text/css" rel="stylesheet" href="/Content/Site.css" />
</head>
<body>
    <header>@Resource.WebsiteTitle</header>
    <nav>
        @Html.ActionLink("Home", "Index", "Home")
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>
        &copy; @DateTime.Now.Year - @Resource.WebsiteCopyright
    </footer>
</body>
</html>